# THESE NEED TO BE VERSION LOCKED (at point of release)
# $ pip install git+https://github.com/qubvel/segmentation_models.pytorch or PyPi version
numpy
lightning[extra]
timm
wandb
omegaconf
hydra-core
dask
zarr
pandas
segmentation-models-pytorch 
einops
scipy
astropy
sunpy
matplotlib
overrides
tensorrt
google-cloud-storage