# THESE NEED TO BE VERSION LOCKED (at point of release)
wandb
omegaconf
hydra-core
dask
zarr
pandas
# $ pip install git+https://github.com/qubvel/segmentation_models.pytorch or PyPi version:
segmentation-models-pytorch 
einops